<script type='text/javascript'>
    window.mia = <%- JSON.stringify(mia) %>;
</script>
<div class="container-fluid" id='mia-profile' data-mia='<%- mia.id %>' ng-controller="MiaCtrl"  >
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#resumen">Resumen</a></li>
        <li><a href="#documentos">Documentos</a></li>
        <li><a href="#mapa">Mapa</a></li>
        <li><a href="#exportar">Exportar</a></li>
      </ul>
    </div>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
      <a name='resumen'></a>
      <h2 class="sub-header"><%- mia.proyecto %></h2>
      <dl class="dl-horizontal">

        <dt>Clave</dt>
        <dd id='clave'><%- mia.clave %></dd>

        <dt>Entidad</dt>
        <dd><%- mia.entidad %></dd>

        <dt>Fecha de ingreso</dt>
        <dd><%=: mia.fecha_de_ingreso | formatDate %></dd>

        <dt>Tramite</dt>
        <dd><%- mia.tramite %></dd>

        <dt>Estado Actual</dt>
        <dd><%- mia.status.desc %> (<%- mia.estado %>)</dd>
      </dl>
      <hr/>
      <ul class="nav nav-pills">
        <li class="active"><a href="#documentos" data-toggle="tab">Documentos</a></li>
        <li><a href="#mapa" data-toggle="tab">Mapa</a></li>
        <li><a href="#comentarios" data-toggle="tab">Comentarios</a></li>
        <li><a href="#historial" data-toggle="tab">Historial</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="documentos"><%- partial('documentos')%></div>
        <div class="tab-pane fade" id="mapa"><%- partial('map-wizard')%></div>
      </div>
    </div>

  </div>
</div>
<%- block('localScripts', '<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlzbyX3J7GwOXdoRwMDfYVbqxNG1D9Jy0&sensor=false" ></script>') %>